body {
    background-color: rgba(18, 61, 102, 0.603);
    color:antiquewhite;
}
#name {
    text-transform: uppercase;
    border: 5px solid antiquewhite;
    border-style:groove;
    text-align: center;
    padding: 2%;
    color: antiquewhite;
}
#contatopag {
    border: 5px groove antiquewhite;
    margin: 0%;
    h1{
        position: relative;
        top: 200px;
        color: antiquewhite;
        font-size: 60px;
    }
    text-align: center;
    padding: 2.5%;
}
#email {
    font-size: 20px;
    margin-bottom: 30%;
    position: relative;
    top: 200px;
}
#tel {
    position: relative;
    bottom: 340px;
    font-size: 20px;
}
p {
    color: antiquewhite;
}
img {
    position: relative;
    left: 675px;
    margin-top: 1%;
    margin-bottom: 2%;
    width: 30%;
    border: 3px solid antiquewhite;
}
#first {
    position: relative;
    left: 52px;
    top: 45px;
    display: inline-flex;
    margin-bottom: 3.5%;
}
#contato {
    color: antiquewhite;
    text-align: center;
    width: 25%;
    border: 2px groove antiquewhite;
    padding: 10px;
    margin-right: 80px;
}
#linkedin {
    color: antiquewhite;
    text-align: center;
    width: 25%;
    border: 2px groove antiquewhite;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
}
#portfolio {
    color: antiquewhite;
    text-align: center;
    width: 25%;
    border: 2px groove antiquewhite;
    padding: 10px;
    margin-left: 80px;
}
#last {
    position: relative;
    text-align: center
}
.titulo {
    text-decoration: underline;
}
#sobre {
    position: relative;
    padding-left: 80px;
}
@media (max-width: 680px) {
    #name {
        width:100%;
        padding: 0%;
        margin: 0%;
    }
    #contato {
        margin-right: 10px;
        width: 100%;
    }
    #linkedin {
        margin-left: 10px;
        margin-right: 10px;
        margin: 0%;
        width: 100%;
    }
    #portfolio {
        width: 100%;
        margin-left: 10px;
    }
    img {
        position: static;
        width: 100%;       
        }
    #first {
        width: 100%;
        position: static;
        text-align: center;
    }
    #contatopag {
        margin: 0%;
        padding: 0%;
        }
    #contatopag > h1 {
        width: 100%;
        position: static;
    }
    #email {
        width: 100%;
        position: static;
        padding: 0%;
        text-align: center;
        }
    #tel {
        width: 100%;
        position: static;
        padding-top: 0%;
    }
    #footer {
        padding-bottom: 405px;
        position: relative;
        top: 350px;
    }
}
